[user]
	email = kartikeychauhan27@gmail.com
	name = Kartikey Chauhan
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
